{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
